*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration:none;
  scrollbar-width: none;
  margin: 0px;
}
html{
  background-attachment: fixed;
  background-image:radial-gradient(rgb(245, 245, 245),lightgray);
}
.nav1{
  visibility: hidden;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 320px;
  height: 100vh;
  background: #c5c5c5;
}
.closebtn{
  padding: 15px;
}
.nav,.menu{
  height: 40px;
  color: inherit;
  margin: 5px;
}
.menu{
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
}
.box{
  box-shadow: 3px 3px 3px gray;
  max-width: 520px;
  width: 90%;
  padding: 15px;
  margin: auto;
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  background-color: whitesmoke;
}
h{
 font-size: 18px; 
}
h1{
  text-align: center;
}
h2{
  box-shadow:inset 3px 3px 3px gray;
  background: lightgray;
  width: min-content;
  padding: 8px;
  border-radius: 10px;
}
.profile{
  width: 160px;
  border-radius: 50%;
}
.logo1{
  width: 120px;
}
.logo2{
  max-height: 50px;
  float: left;
}
.logo3{
  padding: 1%;
  width: 40px;
}
p{
  color: rgb(70, 70, 70);
}
.content{
  min-height: 60px;
  padding: 5px;
}
.info1{
  color: black;
  padding-left: 60px;
}
.info{
  color: rgb(70, 70, 70);
  padding-left: 60px;
}
form{ 
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 330px;
  background: lightgray;
  border-radius: 20px;
}
iframe{
  border: none;
  border-radius: 10px;
  margin: 5px;
}
.feedback{
  width: 20px;
  height: 20px;
  position: fixed;
  border-radius: 50%;
  background-image: radial-gradient(rgb(255, 255, 255),rgb(126, 126, 126));
  padding: 10px;
  bottom: 15px;
  right: 15px;
}
.js{
  background: white;
  padding: 5px 0px 5px 0px;
}
.redline{
  border-radius: 0px;
  margin: 2px 0px 2px 0px;
}
.blackline{
  border-radius: 0px;
  margin: 6px 0px 2px 0px;
}
footer{
  align-items: center;
  background-image:linear-gradient(rgb(255, 255, 255),lightgray);
  padding: 3%;
}
h6{
  text-align: center;
}
.c{
  width: 25px;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
